@using MovieTheater.Infrastructure.Entities
@using MovieTheater.Web.ViewModels
@model AdminHomePageViewModel
@{
    ViewData["Title"] = "Keen-Chick!: Адмін-панель";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}
 
    @* Функціонал для редагування секторів і залів *@
    <div class=" container row ">
      <div class="big-stat-container col-8  ms-5" >
        <h3 class="font-main chart-text">Редагування залів</h3>
        <div class="d-flex justify-content-between mt-4">
          
          <div class="hall-dropdown-div">
            <h3 class="font-main stat-text" style="font-size:14pt">Оберіть залу:</h3>
              <div class="dropdown-wrapper mt-4">
              <select name="hallId" id="hallsDropdown" class="dropdown-select-admin ">
                  @foreach (var hall in Model.Halls)
                  {
                      <option value="@hall.Id">@hall.Name</option>
                  }
              </select>
            </div>
          </div>

          <div id="sectorsContainer">
              @foreach (Hall hall in Model.Halls)
              {
                  <div class="sectors" data-hall-id="@hall.Id" style="display: none;">
                      <h3 class="font-main stat-text" style="text-align:right; font-size:14pt">Сектори залу "@hall.Name"</h3>
                      @foreach (var sector in hall.Sectors.OrderBy(s => s.Id))
                      {
                        <div class="d-flex justify-content-end align-items-center mb-2 mt-4 sector-row" data-sector-id="@sector.Id">
                            <span class="price-div-text">@sector.Name</span>

                            <input type="number" class="price-input  mx-2 sector-price " placeholder="@sector.SeatPrice.ToString("F2")" />

                            <button class="btn btn-sm btn-outline-success update-price-btn me-2 price-btn" type="button">Зберегти</button>

                            <button class="btn btn-sm btn-outline-danger delete-sector-btn price-btn" type="button"
                                    data-sector-name="@sector.Name" data-hall-id="@hall.Id">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                      }
                  </div>
              }
              </div>
          </div>
        </div>
        <div class="big-stat-container col-3  ms-4">
            <h4 class="mt-4 font-main stat-text" style="text-align: center;">Додати сектор</h4>
          <form asp-action="AddSector" method="post" class="d-flex flex-column mb-3">
              <input type="hidden" name="hallId" value="@Model.Halls.FirstOrDefault()?.Id" />
              <input type="text" name="name" placeholder="Назва сектора" class="price-input new-price me-2 mt-3" required />
              <input type="number" name="seatPrice" placeholder="Ціна" class="price-input new-price me-2 mt-3"   step="0.01" min="0" required />
              <button type="submit" class="price-btn mt-3">+</button>
          </form>
        </div>
      </div>


    @* Кінець функціоналу для редагування секторів і залів *@

  @{
  var today = DateTime.Now.Date;
  var dates = Enumerable.Range(0, 7).Select(i => today.AddDays(i).ToString("dd.MM")).ToList();
  var selected = Model.SelectedDate;
  }

 <div class="container mt-3 row" style=" padding-right: 10px;">
      <p class="new-movies-text font-main col-2 mt-4"> У прокаті</p>
    <div class="dates-container-admin col-10">
      
      <div class="date-div-admin">
        <span class="date-text">Застарілі</span>
        <a asp-controller="Admin" asp-action="Index" asp-route-day="past"
          class="date-circle @(selected == "past" ? "date-active" : "")"></a>
      </div>
      @foreach (var date in dates)
            {
                <div class="date-div-admin">
                    <span class="date-text">@(date == today.ToString("dd.MM") ? $"Сьогодні ({date})" : date)</span>
                    <a asp-controller="Admin" asp-action="Index" asp-route-day="@date" class="date-circle @(date==selected?"date-active":"")"></a>
                </div>
            }

      <div class="date-div-admin">
        <span class="date-text">Майбутні</span>
        <a asp-controller="Admin" asp-action="Index" asp-route-day="future"
          class="date-circle @(selected == "future" ? "date-active" : "")"></a>
      </div>
    </div>

    <div class="filters-div mt-4">
      <div id ="genreDropdown" class="dropdown-div">
        <select name="genre" class="dropdown-select">
          <option selected disabled hidden value="">Жанр</option>
          @foreach (var genre in Model.Genres)
            {
                <option value="@genre">@genre</option>
            }
        <option value="будь-який">Будь-який</option>
        </select>
        <i class="fa-solid fa-chevron-down dropdown-arrow"></i>
      </div>

      <div  id ="ratingDropdown" class="dropdown-div">
        <select  name="rating" class="dropdown-select">
          <option selected disabled hidden value="">Рейтинг</option>
          @foreach (var rating in Model.Ratings)
            {
                <option value="@rating">@rating</option>
            }
        <option value="будь-який">Будь-який</option>
        </select>
        <i class="fa-solid fa-chevron-down dropdown-arrow"></i>
      </div>

      <div  id ="lengthDropdown" class="dropdown-div">
        <select name="duration" class="dropdown-select">
          <option selected disabled hidden value="">Довжина</option>
            <option value="<90">Менше години</option>
            <option value="90-120">1 год - 2 год</option>
            <option value="120-150">2–2.5 год</option>
            <option value=">150">Більше 2.5 годин</option>
            <option value="будь-який">Будь-який</option>
        </select>
        <i class="fa-solid fa-chevron-down dropdown-arrow"></i>
      </div>

        <div class="search-div">
          <input id ="searchInput" type="text" class="movie-search-input" placeholder="Назва фільму...">
      </div>
    </div>
 </div>

<div class="container mt-3">
    <div class="row">
        <div class=" col-6">
                <a class="price-btn"  asp-controller="Admin" asp-action="AddMovie" style=" width:100%; display: inline-block" >Додати Фільм</a>
        </div>
        <div class=" col-6">
                <a class="price-btn" asp-controller="Admin" asp-action="AddSession"  style=" width:100%; display: inline-block">Додати сеанс</a>
        </div>
    </div>
</div>


<!-- Якщо обрано past\future такий вивід фільмів -->
@if (Model.MoviesGroupedByDate.Any())
{
    @foreach (var group in Model.MoviesGroupedByDate)
    {
        <h4 class="text-light font-main mt-4" style="color:rgb(144, 168, 211);font-size: 20pt;">@group.Date.ToString("dd.MM.yyyy")</h4>
        <hr class="text-light" style="height:3px;border-radius:3px;color:rgb(144, 168, 211)">

        @foreach (var movie in group.Movies)
        {
          <div class="movie-session-card mt-3 row"
                data-genre="@movie.Genre"
                data-rating="@movie.AgeRating"
                data-duration="@movie.Duration">
            <div class="poster-col col-auto">
                <img src="@movie.ThumbnailUrl" alt="@movie.Title" class="movie-thumb" />
            </div>

            <div class="flex-grow-1 col">
                <div class="title-sessiontimes-div container d-flex justify-content-between mb-5">
                    <div class="movie-title-div">
                        <span class="mb-2 session-movie-title font-main">@movie.Title</span>
                    </div>

                    <div class="session-times-block">
                        @foreach (var time in movie.Sessions)
                        {
                            <div class="session-time text-light-emphasis small">@time</div>
                        }
                    </div>
                </div>

                <div class="sessioninfo-booking-div container d-flex justify-content-between">
                    <div class="session-info text-muted small pt-2 font-secondary">
                        <span class="me-3"><i class="fa-solid fa-door-open me-1"></i> Зала 1</span>
                        <span class="me-3"><i class="fa-solid fa-child me-1"></i> @movie.AgeRating</span>
                        <span class="me-3"><i class="fa-solid fa-film me-1"></i> @movie.Genre</span>
                        <span><i class="fa-regular fa-clock me-1"></i>@TimeSpan.FromMinutes(movie.Duration ?? 0).ToString(@"h\:mm")</span>
                    </div>

                        @{
                            var dayNow = DateTime.UtcNow.ToLocalTime().ToString("dd.MM");
                        }
                    <div class="booking-btn-div font-main d-flex justify-content-between">
                        <a class="booking-btn" asp-controller="Admin" asp-action="UpdateSession" asp-route-id="@movie.Id" style ="margin-right: 1rem;">Змінити</a>
                        <a class="booking-btn">Видалити</a>
                    </div>
                </div>
            </div>
        </div>
   
        }
    }
}
 <!-- Якщо обрано конкретну дату то такий вивід фільмів -->
@if ((Model.MoviesGroupedByDate == null || !Model.MoviesGroupedByDate.Any()) && Model.MoviesByDay.Any())
{
    @foreach (var movie in Model.MoviesByDay)
    {
        <div class="movie-session-card mt-3 row"
            data-genre="@movie.Genre"
            data-rating="@movie.AgeRating"
            data-duration="@movie.Duration">
          <div class="poster-col col-auto">
              <img src="@movie.ThumbnailUrl" alt="@movie.Title" class="movie-thumb" />
          </div>

          <div class="flex-grow-1 col">
              <div class="title-sessiontimes-div container d-flex justify-content-between mb-5">
                  <div class="movie-title-div">
                      <span class="mb-2 session-movie-title font-main">@movie.Title</span>
                  </div>

                  <div class="session-times-block">
                      @foreach (var time in movie.Sessions)
                      {
                          <div class="session-time text-light-emphasis small">@time</div>
                      }
                  </div>
              </div>

              <div class="sessioninfo-booking-div container d-flex justify-content-between">
                  <div class="session-info text-muted small pt-2 font-secondary">
                      <span class="me-3"><i class="fa-solid fa-door-open me-1"></i> Зала 1</span>
                      <span class="me-3"><i class="fa-solid fa-child me-1"></i> @movie.AgeRating</span>
                      <span class="me-3"><i class="fa-solid fa-film me-1"></i> @movie.Genre</span>
                      <span><i class="fa-regular fa-clock me-1"></i>@TimeSpan.FromMinutes(movie.Duration ?? 0).ToString(@"h\:mm")</span>
                  </div>

                      @{
                          var dayNow = DateTime.UtcNow.ToLocalTime().ToString("dd.MM");
                      }
                  <div class="booking-btn-div font-main d-flex justify-content-between">
                      <a class="booking-btn" asp-controller="Admin" asp-action="UpdateSession" asp-route-id="@movie.Id" style ="margin-right: 1rem;">Змінити</a>
                      <a class="booking-btn">Видалити</a>
                  </div>
              </div>
          </div>
      </div>
   
    }
}

</div>

<script src="/js/filters.js"></script>


<!-- Modal підтвердження видалення сектору -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title">Підтвердження видалення</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрити"></button>
      </div>
      <div class="modal-body">
        Ви впевнені, що хочете видалити сектор <span id="modalSectorName"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
        <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Видалити</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/admin.js"></script>
